## Handling Imbalanced Dataset

### 1.Up Sampling
### 2.Down Sampling

In [3]:
import numpy as np
import pandas as pd

# set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [15]:
## creating dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2' : np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1]*n_class_1

})

In [16]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [17]:
df.head()

   feature_1  feature_2  target
0  -0.224079   0.456855       0
1   0.338840   0.048917       0
2  -0.271528   2.922048       0
3   1.365531   1.134409       0
4  -0.737374   1.037419       0

In [20]:
df.tail()

     feature_1  feature_2  target
995   1.455180   2.674080       1
996   2.054835   0.347909       1
997   1.288703   2.706091       1
998   1.133349   1.457625       1
999   2.655858   2.409421       1

In [22]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [42]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [43]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [44]:
df_minority_upsampled.shape

(900, 3)

In [45]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   3.867455   0.662410       1
992   1.813643   0.804132       1
914   3.846091   2.003511       1
971   2.855963   3.413906       1
960   1.575341   3.919535       1

In [46]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [47]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling is same just write majority_upsampled instead of minority one ,and replace = False